<style>
  body {
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */
    margin: 0; /* Removed default body margin */
    display: flex; /* Use flexbox to center content vertically */
    flex-direction: column; 
    background-color: rgb(240, 217, 155);
  }

  .card {
    flex-grow: 1; /* Allow the card to grow and take up the available space */
  }
</style>





<div class="card w-100 mt-5" style="position: fixed; left: 0; bottom: 0; width: 100%">
  <div class="card-header text-center"> <!-- Added 'text-center' class for horizontal centering -->
    <p>&#169; All Rights Reserved</p>
    <footer class="blockquote-footer">
      <cite title="Source Title">Pankaj Gupta</cite>
    </footer>
  </div>
</div>
